html
{
    font-family: 'Libre Baskerville', serif;
}
label
{
    text-align:center;
}
body {
    margin: 0px;
    background-image:url("pageultra.jpg");
    background-size:120%;
}
.cala {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(72.44deg, #9D0F8F 0%, rgba(157, 15, 143, 0) 100%), linear-gradient(252.44deg, #4A089D 0%, rgba(196, 196, 196, 0) 100%); */
    display:flex;
    
}
.content {
    height: 95%;
    width: 95%;
    margin-left: 5%;
    margin-right:5%;
    margin-top: 1%;
    margin-bottom:1%;
    display:flex;
    font-weight:bold;
}
.box {
    width: 100%;
    height: 50%;
    background: rgba(141, 141, 141, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display:flex;
    justify-content:space-around;
    
}
.smallbox
{
    margin:2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    font-size:75%;
}
.wpis
{
    font-size:110%;
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
}
.wyniki
{
    background: rgba(141, 141, 141, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}
.zawartosc1
{
    font-size:120%;
    margin:2%;
    display:flex;
    flex-direction:column;
}
.zawartosc2
{
    font-size:120%;
    margin:2%;
}
.zawartosc3
{
    font-size:120%;
    margin:2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.wynik
{
    color:rgb(104, 0, 0);
}
.mm
{
    display:flex;
    flex-direction:row;
}
.indexContainer
{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:column;
}
.indexMenu
{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:150%;
    width:500px;
    background-color:rgba(88, 88, 88, 0.3);
    border-radius:15px;
}
.indexM
{
    margin-top:2%;
    height:50px;
}
.indexHeader
{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:400%;
}
.opisContainer
{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.opisTresc
{
    width:40%;
    height:40%;
}
.opisHeader
{
    font-size:150%;
    margin-bottom:10%;
}
.opisLink
{
    text-decoration:none;
    color:rgb(65, 0, 0);
}